.question {
    border-radius: 10px;
    background-color: lightpink;
    padding: 10px;
}

.question h3 {
    text-align: center;
    text-decoration: underline;
}

#question-question {
    width: 85%;
    min-height: 50px;
    color: white;
    background-color: rgb(0, 114, 114);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 6px;
    margin: 5px auto;
}

.question-choices-choice {
    width: 85%;
    text-align: center;
    background-color: rgb(30, 241, 213);
    border: 1px solid black;
    border-radius: 5px;
    margin: 8px auto;
}

.question-time {
    text-align: center;
    padding: 5px 0;
    margin: 5px 0 0;
}

.question button {
    width: 100px;
    color: black;
    display: block;
    margin: 0 auto 5px;
}

.question-live-question {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin: 5px auto;
}

.question-time-input {
    display: grid;
    grid-template-columns: 60px 30px 60px;
}

#correct-answer {
    background-color: limegreen;
}

#wrong-answer {
    background-color: red;
}

#no-choice {
    background-color: darkgray;
}