.event {
    text-align: center;
    border: 1px solid black;
    padding: 5px 10px 10px;
}

.event h3 {
    text-align: center;
    padding: 10px;
}

.event img {
    max-width: 250px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.event-buttons button {
    width: 30%;
    margin: 5px;
}
