#Home {
    max-width: 1080px;
    margin: 0 auto;
}

#Home h1 {
    text-align: center;
    padding-top: 15px;
}

#Home button {
    display: block;
    margin: 0 auto;
}

#currentEvents {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#currentEvents, #upcommingEvents {
    text-align: center;
    padding: 10px;
    margin: 10px; 
}

#currentEvents h2, #upcommingEvents h2 {
    text-decoration: underline;
    padding: 10px;
}

#closeEvents {
    padding: 10px;
    margin: 10px;
}

#events, #closeEvents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}
