#Home {
    max-width: 1080px;
    margin: 0 auto;
}

#Home h1 {
    text-align: center;
}

#Home button {
    display: block;
    margin: 0 auto;
}

#events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}