#current-event {
    width: 98vw;
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    margin: 0 auto;
}

#eventHeader, #eventInformation, #questions-section, #eventTracker, #graphs {
    border: 1px solid black;
}

#eventHeader {
    height: 5vh;
    padding: 5px;
}

#active-event-content {
    height: 88vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#active-event-content-left, #active-event-content-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

#eventInformation {
    height: 20vh;
}

#questions-section {
    height: 68vh;
}

#eventTracker {
    height: 44vh;
}

#graphs {
    height: 44vh;
}