#Login {
    max-width: 300px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10% auto;
}

#logo {
    max-width: 250px;
    margin: 0 auto;
}
