#nav {
    width: 98vw;
    height: 5vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5px 10px;
}

#nav-links {
    margin: 5px;
}

#nav-links button {
    margin: 0 5px;
}

.letter {
    width: 25px;
    height: 5vh;
}

